<div class="page-wrapper">
  <div class="container-general container-fuild">
    <br>
    <H1  style="margin-left: 2%;font: bold 280% monospace;color: aliceblue;">PANTALLA PRINCIPAL</H1>
    <br>
    <div class="botones">
      <div class="d-flex justify-content-center">
        <div class="d-grid gap-2 col-5 mx-auto">
          <a  href="../dashboard/agregar-rol"><button class="btn btn-primary" type="button">
            <img src="../../../../assets/image/agregardoce.png" style=" height: 100px; " alt="">
            <h1>ADD Estudiante</h1>
        </button>
      </a>
        </div>
      </div>
    </div>

<div class="botones">
  <div class="d-flex justify-content-center">
    <div class="d-grid gap-2 col-5 mx-auto">
      <a  href="../dashboard/agregar-rol"><button class="btn btn-primary" type="button">
        <img src="../../../../assets/image/ojo-boton.png" style=" height: 100px; " alt="">
<h1>Ver Estudiantes</h1>
      </button>
    </a>
    </div>
  </div>
</div>
  </div>
</div>
