<div class="page-wrapper">
  <div class="container-general container-fuild">
    <br>

    <H1  style="margin-left: 2%;font: bold 280% monospace;color: aliceblue;">PANTALLA PRINCIPAL</H1>
    <br>
    <div class="d-grid gap-2 col-4 mx-auto">
      <button class="btn btn-primary" type="button">
        <img src="../../../../assets/image/agregardoce.png" style=" height: 120px; " alt="">
        <h1>AGREGAR ESTUDIANTE Y TUTOR</h1></button>
    </div>
    <br>
    <div class="d-grid gap-2 col-4 mx-auto">
      <button class="btn btn-primary" type="button">
        <img src="../../../../assets/image/ojo-boton.png" style=" height: 195px; " alt="">
        <h1>VER PORTAFOLIO</h1></button>
    </div>
<br>
  </div>
</div>
