.bread{
  width: 150rem;
  margin-block-start: 8px;
}

.cuadro{
  width: 64rem;
  margin-block-start: 5px;
}


.container2{
  background-color: #3965B8;
  height: auto;
  grid-auto-flow: auto;
  border-radius: 10px;
}

.container{
  background-color: #19418B;
  height: 430px;
  grid-auto-flow: auto;
  border-radius: 10px;
  border-color: white;


}




.periodo{
  text-align: center;
  background-color: #6D99EB;
  margin-left: 34.3rem;
  height: 30px;
  width: 150px;
  border-radius: 10px;
  margin-right: 10px;
  }

.card1{

  border-radius: 10px;
  border: 3px;
  background-color: #6D99EB;

}

.row1{
  background-color: #6D99EB;

}

.col-6{
  background-color: #6D99EB;

}













