<div id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-9" style="margin-left: 18rem; margin-block-start: -17rem;">
          <div class="card">
            <div class="card-body">
              <app-breadcrumbs></app-breadcrumbs>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-9" style="margin-left: 18rem; margin-block-start: -12rem;">
          <div class="card">
            <div class="card-body">
              <H2>Encuesta</H2>
              <div class="container">
                <br>
                <div class="card">

                  <div class="card-group">
                    <div class="card">

                      <div class="card-body">
                        <h5 class="card-title">Encuesta Medicion de Impacto Vinculacion</h5>
                        <p class="card-text">
                          Nombre de la Institucion:
                        </p>
                        <p>Nombre de la actvidad realizada:</p>
                        <p>Nombre del docente tutor:</p>
                        <p>Nombre del tutor de la entidad financiera:</p>
                        <p></p>
                      </div>
                    </div>
                    <div class="card">

                      <div class="card-body">
                        <h5 class="card-title"> </h5><br>

                        <p>Proyecto:</p>
                        <p>Codigo Proyecto:</p>
                        <p>Genero:</p>
                        <p>Rango de Edad:</p>

                      </div>
                    </div>

                  </div>

                </div><br>
                <div class="card">
                  <div class="card-body">
                    <p>Objetivo: Recabar informacion en cuanto a los niveles de satisfaccion de los beneficiarios
                      fundamentadosen la ejecucion del Proyeco Academico deServicio Comunitario de Vinculacion con la
                      Sociedad.</p>
                    <p>Instrucciones: Marque con una X en la opcioni que considere pertinente.</p>
                  </div>
                </div>
                <br>
                <div class="card">
                  <div class="card-body">
                    <p>Preguntas</p>
                    <p>1. Usted como beneficiario considera que el proyecto cumplio con los requerimientos solicitados
                      de manera?</p>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                      <label class="form-check-label" for="inlineRadio1">Alto</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option2">
                      <label class="form-check-label" for="inlineRadio2">Medio</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="option3">
                      <label class="form-check-label" for="inlineRadio3">Bajo</label>

                    </div>
                  </div>

                  <div class="card">
                    <div class="card-body">
                      <p>Preguntas</p>
                      <p>2.	¿Ud. como beneficiario del proyecto en que fases ha participado?</p>

                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                          value="option1">
                        <label class="form-check-label" for="inlineRadio1">Alto</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                          value="option2">
                        <label class="form-check-label" for="inlineRadio2">Medio</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                          value="option3">
                        <label class="form-check-label" for="inlineRadio3">Bajo</label>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

