.navbar{
  margin-top: -15px;
  height: 87px;
  border-radius: 3px;
  width: 100em;

}



.redimension {
  margin: 5px;
  width: 100px;
  height: 55px;
}


.nombre{
  margin-top: -2.5em;
}

.carrera{
  margin-top: -4em;
}



