
    <nav class="navbar col-auto col-12 px-1 col-sm-12 px-sm-1 col-lg-12 " style="background-color: #19418B;">
      <div class="col-auto col-3 px-2 col-sm-9 px-sm-1 col-md-1 px-md-1 pt-3">
        <a href="#inicio">
          <img class="redimension" src="../../../assets/image/logo.png" alt="">
        </a>
      </div>
      <div
        class="col-auto col-1 px-2 col-sm-2 px-sm-1 px-sm-6 col-md-11 px-md-6 col-xl-11 px-xl-2 col-lg-11 px-lg-2 pt-2">
        <h4 class="text-white col-auto col-2 px-0 col-sm-3 px-sm-4"> Docente Vinculación</h4>
      </div>
      <div class="col-auto col-8 px-5 col-sm-8 px-sm-5 col-md-12 px-md-3 col-lg-11 px-lg-10 pt-2 ">
        <li class=" list-group col-sm-11 px-sm-6 col-md-12 px-md-1 align-items-end">
          <h4 class="carrera text-white">Desarrollo de Software</h4>
        </li>
        <li class="list-group col-sm-11 px-sm-6  col-md-12 px-md-3 align-items-end">
          <h4 class="nombre text-white">Steveen Ordoñez</h4>
        </li>
      </div>
    </nav>
  
