<nav class="navbar " style="background-color: #19418B;">
  <div class="container-fluid">
    <a href="#inicio">
      <img class="redimension" src="../../../assets/image/logo.png" alt="">
    </a>
    <h4 class="cargo">Docente Tutor</h4>
    <ul class="list-group list-group-flush">
      <li class="carrera list-group list-group-flush">
        <h6>Desarrollo de Software</h6>
      </li>
      <li class="nombre list-group list-group-flush">
        Geovanny Vera
      </li>
    </ul>

    <div class="btn-group dropstart">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img class="user" src="../../../../assets/image/user.png" alt="">
      </button>
      <ul class="dropdown-menu">
        <li><a class="inicio dropdown-item">Perfil</a></li>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <img class="option" src="../../../../assets/image/user.png" alt="">
          Cerrar Seción
        </a>
        <div class="dropdown-divider"></div>
        <li>
          <a class="dropdown-item" href="#">
            <img class="option" src="../../../../assets/image/salir.png" alt="">
            Cerrar Seción
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>