
<div class="container" id="container">

	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Vinculacion</h1>
			<span>Inicia Sesión</span>
			<input type="email" placeholder="Usuario" />
			<input type="password" placeholder="Contraseña" />
			<a class = "btn btn-primary" href="/dashboard/solicitud">
				ingresar
				<!-- <button routerLink="/dashboard/solicitud" class = "btn btn-primary">Ingresar</button> -->
			</a> 
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hola, Yavirac</h1>
				<p>Este sistema ayuda a la comunidad de yavirac seguir el proceso de vinculación</p>
			</div>
		</div>
	</div>
</div>

