<div class="justify-text">
  <h2> AGREGAR ESTUDIANTE / TUTOR</h2>
</div>


<div class="col-auto  d-flex flex-row-reverse">
  <app-agregar-rol-search></app-agregar-rol-search>
</div>

<div class=" table-responsive containerBlue col-auto col-12 px-1 pt-2 table-striped" style="height: 26em;">
  <div class="">
    <!--Table-->
    <table class="table col-12 px-1">

      <!--Table head-->
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cedula de Identidad</th>
          <th scope="col">Nombre</th>
          <th scope="col">Rol</th>
          <th scope="col">Estado Usuario</th>

          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody class="leters">
        <tr class="text-center"
        *ngFor="let persona of agregarList | paginate: { itemsPerPage: 3, currentPage: pages }">
          <th class="text-dark" scope="row">{{persona.id}}</th>
          <td class="text-dark"> {{persona.cedula}}</td>
          <td class="text-dark"> {{persona.nombre}}</td>
          <td class="text-dark"> Rol</td>
          <td>
            <div class="margin-leftform-check form-switch">
              <input class="switch form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            </div>
          </td>

          <td>
          <button type="button" class="btn btn-primary" routerLink="{{persona.id}}">Editar</button>
          <button type="button" class="btn btn-danger" >Eliminar</button>
        </td>
        </tr>
        <!--Table body-->

    </table>
    <!--Table-->

  </div>


<div class="botones">
  <div class="d-flex justify-content-center">
    <div class="d-grid gap-2 col-md-1">
      <a href="../dashboard/rellenar-datos"><button class="btn btn-primary" type="button" routerLink="">
        <img src="../../../../assets/image/agregardoce.png" style=" height: 20px; " alt="">
        <p>AGREGAR</p>
      </button></a>
    </div>
  </div>
</div>
<br>
<div class="pagi static">
  <pagination-controls (pageChange)="pages = $event"></pagination-controls>
</div>

</div>
