<div>
    <H5>Portafolio Estudiante</H5>
    <div class="form-check form-switch form-check-reverse">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
      <label class="form-check-label" for="flexSwitchCheckReverse">Estado del Portafolio</label>
    </div>
  </div>
  <div class="table-responsive">
    <table class="container-table table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre del Archivo</th>
          <th scope="col">Opciones</th>
          <th scope="col">Observaciones</th>
          <th scope="col">Aprobado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Nombre del archivo
          </td>
          <td>
            <a href="">
              <img class="icon" src="../../../../assets/image/descarga.png" alt="">
            </a>
          </td>
          <td>
            <textarea class="form-control" id="floatingTextarea2"></textarea>
          </td>
          <td>
            <div class="margin-leftform-check form-switch">
              <input class="switch form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            Nombre del archivo
          </td>
          <td>
            <a href="">
              <img class="icon" src="../../../../assets/image/descarga.png" alt="">
            </a>
  
          </td>
          <td>
            <textarea class="form-control" id="floatingTextarea2"></textarea>
          </td>
          <td>
            <div class="margin-leftform-check form-switch">
              <input class="switch form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
              

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  