<div class="col-auto  d-flex flex-row-reverse">
  <div class="d-flex flex-row-reverse">
      <div class="p-1 col-sm-7 col-md-10">
          <form class="d-flex" role="search">
              <input #inputSearchholidayActividad class="form-control me-2" type="search" placeholder="Search"
                  aria-label="Search" (input)="onInput(inputSearchholidayActividad.value)">
              <button class=" btn btn-outline-primary" type="submit">Search</button>
          </form>
      </div>
  </div>
</div>
