
      <div class="row">

          <div class="card">
            <div class="card-body">
              <H2>Observaciones,Avances y cumplimientos de actividades</H2>
              <br>

              <br>
              <div class="container2 container-fuild">
                <br>
                <div class="container container-fuild">

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Actividades</th>
                        <th scope="col">Avance y cumplimiento</th>
                        <th scope="col">Obsservaciones</th>

                      </tr>
                    </thead>
                    <tbody class="leters">
                      <tr class="text-center" *ngFor="let observacion of  observacionA">
                        <th scope="row">1</th>
                        <td>
                          {{observacion.actividades}}
                        </td>
                        <td>

                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" [(ngModel)]="observacion.avancesCumplimiento" ></textarea>


                        </td>
                        <td>

                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" [(ngModel)]="observacion.observaciones"></textarea>


                        </td>
                        <td>

                        </td>
                      </tr>



                    </tbody>
                  </table>

                </div>

              </div>


              <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                <a href="dashboard/avance-cumplimiento">
                  <button  class="btn btn-primary" type="button">Atras</button>
                </a>
                <button  class="btn btn-primary" type="button" (click)="save()">Guardar</button>
                <button class="btn btn-primary" type="button">Generar Pdf</button>
              </div>

            </div>
          </div>
        </div>

  <!-- <app-footer></app-footer> -->

