<H5>Portafolio Tutor</H5>
<div class="table-responsive">
  <table class="container-table table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre del Archivo</th>
        <th scope="col">Opciones</th>
        <th scope="col">Observaciones</th>
        <th scope="col">Aprobado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Nombre del archivo
        </td>
        <td>
          <a href="">
            <img class="icon" src="../../../../assets/image/descarga.png" alt="">
          </a>
          <a href="">
            <img class="icon" src="../../../../assets/image/subir.png" alt="">
          </a>
        </td>
        <td>
          <textarea class="form-control" id="floatingTextarea2"></textarea>
        </td>
        <td>
          <div class="margin-leftform-check form-switch">
            <input class="switch form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Nombre del archivo
        </td>
        <td>
          <a href="">
            <img class="icon" src="../../../../assets/image/descarga.png" alt="">
          </a>
          <a href="">
            <img class="icon" src="../../../../assets/image/subir.png" alt="">
          </a>
        </td>
        <td>
          <textarea class="form-control" id="floatingTextarea2"></textarea>
        </td>
        <td>
          <div class="margin-leftform-check form-switch">
            <input class="switch form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="form-floating">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
    style="height: 100px"></textarea>
  <label for="floatingTextarea2" style="color: black;">Comentario del Portafolio</label>
</div>
