<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>

                <div class="card-body">

                  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar PDF
                    <i class="mdi-content-send right"></i>
                  </button>

                  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar Convenio
                    <i class="mdi-content-send right"></i>
                  </button>

                  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light left" type="submit">Generar ITV
                    <i class="mdi-content-send right"></i>
                  </button><br><br>
                  <div class="pestanas">
                    <a href="../datos-generales" class="Datos Generales">Datos Generales</a>
                    <a href="../empresa" class="Empresa">Empresa</a>
                    <a href="../integrantes" class="Integrantes">Integrantes</a>
                    <a href="../actividades" class="Actividades">Actividades</a>
                    <a href="../plan-de-trabajo" class="Plan de Trabajo">Plan de Trabajo</a>
                    <a href="../firmas" class="Firma">Firmas</a>
                    <a href="../bibliografia" class="Bibliografía">Bibliografía</a>

                    <a href="../anexos" class="Anexos">Anexos</a>
                    <a href="../observaciones" class="Observaciones">Observaciones</a>
                    <a href="../documentos" class="Adjuntar Documentos">Adjuntar Documentos</a>
                    <a href="../certificados" class="Solicitud de Certificados">Solicitud de Certificados</a>
                    </div>

<form name="registro" novalidate>
  <br><div><h6><b>&nbsp;&nbsp;Estrategia de Seguimiento y Evaluación</b></h6></div>
  <div class="row">
      <section class="input-field row s12 m6">
          <label for="nombre" class="orange fblack">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estrategias
          </label></section><br>

          <section class="input-field col s12 m2 sizze2">
          <input type="text" ng-model="data.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
          <section class="input-field col s12 m2 sizze6">
          <input type="text" ng-model="data.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
        </div>

        <div class="row">
            <section class="input-field col s12 m2 sizze2">
              <input type="text" ng-model="data.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
              <input type="text" ng-model="data.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
          </div>

          <br><div><h6><b>&nbsp;&nbsp;Bibliografía</b></h6></div>
  <div class="row">
      <section class="input-field row s12 m6">
          <label for="nombre" class="orange fblack">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Num&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bibliografía
          </label></section><br>

          <section class="input-field col s12 m2 sizze2">
          <input type="text" ng-model="data.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
          <section class="input-field col s12 m2 sizze6">
          <input type="text" ng-model="data.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
        </div>

        <div class="row">
            <section class="input-field col s12 m2 sizze2">
              <input type="text" ng-model="data.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
              <input type="text" ng-model="data.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
          </div>



  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light right" type="submit">Confirmar
      <i class="mdi-content-send right"></i>
  </button>
</form>
</div>

