<div class="page-wrapper">
  <div class="container-general container-fuild">
    <br>
    <div class="container-form container-fuild">
      <form class="row g-3 px-2">
        <H5>Datos del Estudiante</H5>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Cedula del Estudiante</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Semestre</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Carrera</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Apellido</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>
      </form>
      <form class="row g-3 px-2">
        <H5>Datos de la Fundacion</H5>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Nombre de la Fundacion</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Direccion</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Encargado</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Telefono</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>
      </form>
    </div>
    <br>
    <div class="container-portafolio container-fluid">

      <app-estudiante-portafolio-portafolio></app-estudiante-portafolio-portafolio>


      <br>
    </div>
    <br>
    <div class="d-grid gap-2 col-4 mx-auto">
      <button class="btn btn-primary" type="button">
       <a href="dashboard/estudiante-portafolio"></a> <img  src="../../../../assets/image/enviar.png" style=" height: 15px; " alt="" >
        Enviar</button>
    </div>
    <br>
  </div>
</div>