.container-general{
    background-color: #19418B;
    height: auto;
    grid-auto-flow: auto;
    border-radius: 10px;
  }
  
  .container-form{
    background-color: #3965B8;
    height: auto;
    grid-auto-flow: auto;
    border-radius: 10px;
    grid-auto-rows: auto;
    color: white;
  }
  
  .container-portafolio{
    background-color: #3965B8;
    height: auto;
    grid-auto-flow: auto;
    border-radius: 10px;
    color: white;
  
  }

  .window-notice .content {
    background: #1f6dfd;

    box-shadow: 0 1px 3px #1f6dfd;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 10;
    min-width: 10px !important;
    right: -150px;
    top: -47px;

    position: relative;
    width: 13%;

 
}