<div class="justify-text">
    <h2> Estudiantes</h2>
  </div>
  <div class="col-auto  d-flex flex-row-reverse">
    <button class="btn btn-primary btn-sm" type="button">Solicitud Vinculacion</button>
  </div>

<div text-align="left" class=" table-responsive containerBlue col-auto col-12 px-1 pt-2 table-striped" style="height: 26em;">
    <div class="">
        <!--Table-->
        <table class="table col-12 px-1">

            <!--Table head-->
            <thead>
                <tr class="text-center">
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">fecha Solicitud</th>
                    <th class="text-center" scope="col">Tipo Solicitud</th>
                    <th class="text-center" scope="col">Entidad</th>
                    <th class="text-center" scope="col">Estado</th>
                    <th class="text-center" scope="col">Tutor</th>
                    <th class="text-center" scope="col">Opciones</th>
                </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
                <tr class="text-center">
                    <th class="text-black" scope="row">1</th>
                    <td class="text-black">01-01-2023</td>
                    <td class="text-black">Solicitud Vinculacion</td>
                    <td class="text-black">Yavirac</td>
                    <td class="text-black">Aprobado</td>
                    <td class="text-black">Tutor 1</td>
                    <td>
                        <!--boton desplegable-->
                       <!-- start nav -->
<nav id="menu">
    <!-- start menu -->
    <ul>
     <li><a>☰</a>
    <!-- start menu desplegable -->
     <ul>
     <li><a href="#">Descargar Solicitud</a></li>
     <li><a href="dashboard/estudiante-portafolio">Cargar Portafolio</a></li>
     <li><a href="#">Solicitud Certificado</a></li>
     <li><a href="#">Descargar Certificado</a></li>
     </ul>
    <!-- end menu desplegable -->
     </li>

    </ul>
    <!-- end menu -->
    </nav>
    <!-- end nav -->
                        <!--boton desplegable-->
                    </td>
                </tr>
            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>
</div>