<div class="justify-text">
    <h2> Solicitudes</h2>
</div>
    <div class=" table-responsive containerBlue col-auto col-12 px-1 pt-2 table-striped"  style="height: 26em;">
        <div class="">
            <!--Table-->
            <table class="table col-12 px-1">
          
              <!--Table head-->
              <thead>
                <tr class="text-center">
                  <th>#</th>
                  <th>Tipo solicitud</th>
                  <th>Nombre del Estudiante</th>
                  <th>Cedula del estudiante</th>
                  <th>Fecha de emisión</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                  
                </tr>
              </thead>
              <!--Table head-->
          
              <!--Table body-->
              <tbody>
                <tr class="text-center">
                  <th class="text-white" scope="row">1</th>
                  <td class="text-white">Certificado</td>
                  <td class="text-white">Steveen Ordoñez</td>
                  <td class="text-white">1755516802</td>
                  <td class="text-white">17/1/2023</td>
                  <td class="text-white">Pendiente</td>
                  <td>
                    <div class="d-grid gap-1  col-auto">
                        <button class="btn btn-primary" type="button">Portafolio</button>
                        <button class="btn btn-primary" type="button">Proyectos</button>
                      </div>
                  </td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
            <!--Table-->
          </div>
    </div>



    <!-- <div class=".container-fluid">
        <app-header></app-header>
    </div>
    <div class=".container-fluid navbar-expand-md ">
        <div class="flex-colum flex-md-row">
            <app-sidebar></app-sidebar>
        </div>
    </div>
    <br>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="bread col-12">
                    <div class="col-9" style="margin-left: 18rem; margin-block-start: -17rem;">
                        <div class="card">
                            <div class="card-body">
                                <app-breadcrumbs></app-breadcrumbs>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cuadro col-9" style="margin-left: 18rem; margin-block-start: -12rem;">
                    <div class="card container">
    
                        <div class="card-body">
                            <H2>Solicitud</H2>
                            <select class="periodo" name="" id="">
                                <option value="">Periodo Lectivo</option>
                                <option value="">2023-1</option>
                                <option value="">2022-1</option>
                                <option value="">2022-2</option>
                            </select>
    
                            <img class="iconbuscar" src="../../../../assets/image/buscar.png" alt="">
    
                            <input class="buscar" type="search" placeholder="      Buscar Estudiante">
    
                            <div class="containerSkyBlue container-fuild gap-2 col-12 flex-md-row">
                                <div class="containerBlue ">
                                    <br>
                                    <table
                                        class="table table-hover container-fuild gap-1 col-sm  flex-md-row containerSky">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Tipo de Solicitud</th>
                                                <th scope="col">Nombre del Estudiante</th>
                                                <th scope="col">Cedula del Estudiante</th>
                                                <th scope="col">Fecha de Emision</th>
                                                <th scope="col">Estado</th>
                                                <th scope="col">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody class="leters">
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Certificado</td>
                                                <td>Steveen Ordoñez</td>
                                                <td>1755516802</td>
                                                <td>17-1-2023</td>
                                                <td>Pendiente</td>
                                                <td>
                                                    <div class="d-grid gap-2 col-11 mx-auto">
                                                        <button class="" type="button">Portafolio</button>
                                                        <button class="" type="button">Proyecto</button>
                                                    </div>
                                        </tbody>
                                    </table>
    
                                </div>
                                <nav aria-label="page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only"></span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer> -->