<div class="justify-text">
    <h2> Solicitudes</h2>
</div>
<div class="col-auto  d-flex flex-row-reverse">
    <div class="d-flex flex-row-reverse">
        <div class="p-1 col-sm-7 col-md-10">
            <form class="d-flex" role="search">
                <input #inputSearchholidayActividad class="form-control me-2" type="search" placeholder="Search"
                    aria-label="Search" (input)="onInput(inputSearchholidayActividad.value)">
                <button class=" btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
<div class=" table-responsive containerBlue col-auto col-12 px-1 pt-2 table-striped" style="height: 24em;">
    <div class="">
        <!--Table-->
        <table class="table col-12 px-1">
            <!--Table head-->
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Tipo solicitud</th>
                    <th scope="col">Nombre del Estudiante</th>
                    <th scope="col">Cedula del estudiante</th>
                    <th scope="col">Fecha de emisión</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>
                <tr class="text-center"
                    *ngFor="let solicitud of solicitudList | paginate: { itemsPerPage: 3, currentPage: pages }">
                    <th class="text-white" scope="row">{{solicitud.id}}</th>
                    <td class="text-white">{{solicitud.tipoSolicitud}}</td>
                    <td class="text-white">Steveen Ordoñez</td>
                    <td class="text-white">1755516802</td>
                    <td class="text-white">{{solicitud.fechaEmision}}</td>
                    <td class="text-white">{{solicitud.estado}}</td>
                    <td>
                        <div class="d-grid gap-1  col-auto">
                            <a href="" routerLink="/dashboard/portafolio-vinculacion"><button
                                    class="btn btn-primary btn-sm" type="button">Portafolio</button></a>
                            <a href="" routerLink="/dashboard/proyecto"><button class="btn btn-primary btn-sm"
                                    type="button">Proyectos</button></a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    </div>
    <div class="pagi static">
        <pagination-controls (pageChange)="pages = $event"></pagination-controls>
    </div>
</div>