.containerBlue {
    background-color: #19418B;
}


.table {
    background-color: #6D99EB;
    border-radius: 10px;
    grid-auto-flow: auto;
}

.iconobser{
    width: 40px;
    height: 40px;
  }

  .switch{
    width: 70px;
    height: 24px;
  }

  .pagi{
    text-align: center;
    padding: 10px;
  }