<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-2 col-xl-2 px-sm-1 px-0 bg-light">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-0 pt-1 text-white min-vh-99">
        <a href="/" class="d-flex align-items-center pb-0 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-6 d-none d-sm-inline">Portafolio</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-4">
              <i class="fs-6 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Solicitud</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-4">
              <i class="fs-6 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Proyecto</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-4">
              <i class="fs-6 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Portafolio</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-4">
              <i class="fs-6 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Portafolio</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-4">
              <i class="fs-6 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Configuración</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link align-middle px-4">
              <i class="fs-6 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Asignar Fundacion</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>