<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>

<div class="card-body">
  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " type="submit">Generar ITV
  </button>&nbsp;&nbsp;
  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " type="submit">Generar PDF
  </button>&nbsp;&nbsp;&nbsp;
  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " type="submit">Generar Convenio
  </button>&nbsp;&nbsp;&nbsp;
<br><br>
  <div class="pestanas">
    <a [routerLink]="['/dashboard/datos-generales',currentEntity.planTrabajoId]" class="Datos Generales">Datos Generales</a>
    <a [routerLink]="['/dashboard/empresa',currentEntity.planTrabajoId]" class="Empresa">Empresa</a>
    <a [routerLink]="['/dashboard/integrantes',currentEntity.planTrabajoId]" class="Integrantes">Integrantes</a>
    <a [routerLink]="['/dashboard/actividades',currentEntity.planTrabajoId]" class="Actividades">Actividades</a>
    <a [routerLink]="['/dashboard/plan-de-trabajo',currentEntity.planTrabajoId]" class="Plan de Trabajo">Plan de Trabajo</a>
    <a [routerLink]="['/dashboard/firmas',currentEntity.planTrabajoId]" class="Firma">Firmas</a>
    <a [routerLink]="['/dashboard/bibliografia',currentEntity.planTrabajoId]" class="Bibliografía">Bibliografía</a>
    <a [routerLink]="['/dashboard/anexos',currentEntity.planTrabajoId]" class="Anexos">Anexos</a>
    <a [routerLink]="['/dashboard/observaciones',currentEntity.planTrabajoId]" class="Observaciones">Observaciones</a>
    <a [routerLink]="['/dashboard/documentos',currentEntity.planTrabajoId]" class="Adjuntar Documentos">Adjuntar Documentos</a>
    <a [routerLink]="['/dashboard/certificados',currentEntity.planTrabajoId]" class="Solicitud de Certificados">Solicitud de Certificados</a>
  </div>

  <form name="registro" [formGroup]="planTrabajoForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <section class="input-field col s12 m6">
        <label for="nombre">Descripción General del Proyecto:</label><br><br><br>
        <input type="text"  formControlName="descripcionGe" name="descripcionGe" [(ngModel)]="currentEntity.descripcionGe">
        <div *ngIf="descripcionGe?.invalid && (descripcionGe?.dirty || descripcionGe?.touched)"
          class="alert alert-danger ">
          <div *ngIf="descripcionGe?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="input-field col s12 m9">
        <label for="correo">Objetivo del Proyecto: </label><br><br><br>
        <input type="email"  formControlName="objetivoPro" name="objetivoPro" [(ngModel)]="currentEntity.objetivoPro">
        <div *ngIf="objetivoPro?.invalid && (objetivoPro?.dirty || objetivoPro?.touched)" class="alert alert-danger ">
          <div *ngIf="objetivoPro?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="input-field col s12">
        <label for="direccion">Analisis Situacional:</label><br><br><br>
        <input type="text"  formControlName="analisisSi" name="analisisSi" [(ngModel)]="currentEntity.analisisSi">
        <div *ngIf="analisisSi?.invalid && (analisisSi?.dirty || analisisSi?.touched)" class="alert alert-danger ">
          <div *ngIf="analisisSi?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <div class="row">
      <section class="input-field col s12 m3">
        <label for="edad">Justificación:</label><br><br><br>
        <input type="text"  formControlName="justificacion" name="justificacion" [(ngModel)]="currentEntity.justificacion">
        <div *ngIf="justificacion?.invalid && (justificacion?.dirty || justificacion?.touched)"
          class="alert alert-danger ">
          <div *ngIf="justificacion?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <br>
    <div>
     <h6><b>&nbsp;&nbsp;Matriz de Marco Lógico</b></h6>
    </div>

    <div class="row border">
      <br>
      <div class="border">&nbsp;&nbsp;Objetivos Generales</div>
      <section class="input-field row s12 m6">
        <label for="nombre"
          class="fblack">Num&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nombre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Objetivo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indicador
          Verificable&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Metodos
          de Verifcación
        </label>
      </section>
      <section class="input-field col s12 m2 sizze">
        <input type="text" formControlName="numObjetivos" name="numObjetivos" [(ngModel)]="currentEntity.numObjetivos">
      </section>
      <section class="input-field col s12 m2 sizze3">
        <input type="text" formControlName="nombreOb" name="nombreOb" [(ngModel)]="currentEntity.nombreOb">
        <div *ngIf="nombreOb?.invalid && (nombreOb?.dirty || nombreOb?.touched)" class="alert alert-danger">
          <div *ngIf="nombreOb?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze3">
        <input type="text" formControlName="objetivoOb" name="objetivoOb" [(ngModel)]="currentEntity.objetivoOb">
        <div *ngIf="objetivoOb?.invalid && (objetivoOb?.dirty || objetivoOb?.touched)" class="alert alert-danger ">
          <div *ngIf="objetivoOb?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze3">
        <input type="text" formControlName="indicadorOb" name="indicadorOb" [(ngModel)]="currentEntity.indicadorOb">
        <div *ngIf="indicadorOb?.invalid && (indicadorOb?.dirty || indicadorOb?.touched)" class="alert alert-danger ">
          <div *ngIf="indicadorOb?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze3">
        <input type="text" formControlName="metodosOb" name="metodosOb" [(ngModel)]="currentEntity.metodosOb">
        <div *ngIf="metodosOb?.invalid && (metodosOb?.dirty || metodosOb?.touched)" class="alert alert-danger ">
          <div *ngIf="metodosOb?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <div class="row border">
      <br>
      <div class="border">&nbsp;&nbsp;Criterios Economicos</div>
      <section class="input-field row s12 m6">
        <label for="nombre"
          class="fblack">Num&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nombre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Criterio
        </label>
      </section>
      <section class="input-field col s12 m2 sizze">
        <input type="text" formControlName="numCriterios" name="numCriterios" [(ngModel)]="currentEntity.numCriterios">
      </section>
      <section class="input-field col s12 m2 sizze3">
        <input type="text" formControlName="nombreCriterios" name="nombreCriterios" [(ngModel)]="currentEntity.nombreCriterios">
        <div *ngIf="nombreCriterios?.invalid && (nombreCriterios?.dirty || nombreCriterios?.touched)"
          class="alert alert-danger ">
          <div *ngIf="nombreCriterios?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze6">
        <input type="text" formControlName="criterioCriterios" name="criterioCriterios" [(ngModel)]="currentEntity.criterioCriterios">
        <div *ngIf="criterioCriterios?.invalid && (criterioCriterios?.dirty || criterioCriterios?.touched)"
          class="alert alert-danger ">
          <div *ngIf="criterioCriterios?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>
    <br><br>
    <div class="row">
      <section class="input-field row s12 m6">
        <label for="nombre" class="azul fblack"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Objetivos
            Especificos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indicadores
            Verificables&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Medios
            de Verificación
          </b></label>
      </section>
      <section class="input-field col s12 m2 sizze4">
        <input type="text" formControlName="objetivosEs" name="objetivosEs" [(ngModel)]="currentEntity.objetivosEs">
        <div *ngIf="objetivosEs?.invalid && (objetivosEs?.dirty || objetivosEs?.touched)" class="alert alert-danger ">
          <div *ngIf="objetivosEs?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze6">
        <input type="text" formControlName="indicadoresVe" name="indicadoresVe" [(ngModel)]="currentEntity.indicadoresVe">
        <div *ngIf="indicadoresVe?.invalid && (indicadoresVe?.dirty || indicadoresVe?.touched)"
          class="alert alert-danger ">
          <div *ngIf="indicadoresVe?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m2 sizze6">
        <input type="text" formControlName="mediosVe" name="mediosVe" [(ngModel)]="currentEntity.mediosVe">
        <div *ngIf="mediosVe?.invalid && (mediosVe?.dirty || mediosVe?.touched)" class="alert alert-danger ">
          <div *ngIf="mediosVe?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="input-field col s12 m3">
        <label for="edad">Conclusiones:</label><br><br><br>
        <input type="text"  formControlName="conclusiones" name="conclusiones" [(ngModel)]="currentEntity.conclusiones">
        <div *ngIf="conclusiones?.invalid && (conclusiones?.dirty || conclusiones?.touched)"
          class="alert alert-danger ">
          <div *ngIf="conclusiones?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <div class="row">
      <section class="input-field col s12 m3">
        <label for="edad">Recomendaciones:</label><br><br><br>
        <input type="text"  formControlName="recomendaciones" name="recomendaciones" [(ngModel)]="currentEntity.recomendaciones">
        <div *ngIf="recomendaciones?.invalid && (recomendaciones?.dirty || recomendaciones?.touched)"
          class="alert alert-danger ">
          <div *ngIf="recomendaciones?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
    </div>

    <button class="btn waves-effect waves-light right" type="submit" [disabled]="!planTrabajoForm.valid">
      Confirmar

        <img class="small pull-right" src="../../../../assets/image/visto.png" alt="">

    </button>
  </form>
</div>
