<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="informe-final-estudiante.component.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unkempt" rel="stylesheet">
  </head>
  <body>
<form class="form2">
    <div class="h5">
      <h5>FORMULARIO DE INFORME FINAL</h5>
    </div>
    <div class="tabla2">
      <table>
        <thead>
          <tr>
            <th>Nombre del Proyecto</th>
            <th>Nombre de la entidad beneficiaria</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Direccion</th>
            <th>Tutor de la entidad de vinculacion</th>
            <th>Tutor del proyecto</th>
            <th>Fecha de Inicio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Vinculacion con la Sociedad</td>
            <td>Instituto Tecnologico Yavirac</td>
            <td>yavirac.edu.ec</td>
            <td>0999319213</td>
            <td>Garcia Moreno</td>
            <td>Yogledis Herrera</td>
            <td>Yogledis Herrera</td>
            <td>12-12-2022</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="formulario-tabla">
      <div class="container-tabla-oa">
        <table>
          <thead>
            <tr>
              <th>No</th>
              <th>OBJETIVOS</th>
              <th>ACTIVIDADES</th>
              <th>AVANCE</th>
              <th>RESULTADOS ALCANZADOS</th>
              <th>ALCANCE</th>
              <th>OBSERVACIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Crear un sistema funcional y proactivo</td>
              <td>trabajar 8 horas diarias y enviar informe diario</td>
              <td><input type="text" name="pickup_time" id="pickup_time"required></td>
              <td><input type="text" name="pickup_time" id="pickup_time"required></td>
              <td><input type="text" name="pickup_time" id="pickup_time"required></td>
              <td><input type="text" name="pickup_time" id="pickup_time"disabled></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Crear un sistema funcional y proactivo</td>
              <td>trabajar 8 horas diarias y enviar informe diario</td>
              <td><input type="text" name="pickup_time" id="pickup_time"required></td>
              <td><input type="text" name="pickup_time" id="pickup_time"required></td>
              <td><input type="text" name="pickup_time" id="pickup_time"required></td>
              <td><input type="text" name="pickup_time" id="pickup_time"disabled></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Crear un sistema funcional y proactivo</td>
              <td>trabajar 8 horas diarias y enviar informe diario</td>
              <td><input type="text" name="pickup_time" id="pickup_time"required></td>
              <td><input type="text" name="pickup_time" id="pickup_time"required></td>
              <td><input type="text" name="pickup_time" id="pickup_time"required></td>
              <td><input type="text" name="pickup_time" id="pickup_time"disabled></td>
            </tr>
            <tr>
              <td>4</td>
              <td>Crear un sistema funcional y proactivo</td>
              <td>trabajar 8 horas diarias y enviar informe diario</td>
              <td><input type="text" name="pickup_time" id="pickup_time"required></td>
              <td><input type="text" name="pickup_time" id="pickup_time"required></td>
              <td><input type="text" name="pickup_time" id="pickup_time"required></td>
              <td><input type="text" name="pickup_time" id="pickup_time"disabled></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Crear un sistema funcional y proactivo</td>
              <td>trabajar 8 horas diarias y enviar informe diario</td>
              <td><input type="text" name="pickup_time" id="pickup_time" required></td>
              <td><input type="text" name="pickup_time" id="pickup_time" required></td>
              <td><input type="text" name="pickup_time" id="pickup_time" required></td>
              <td><input type="text" name="pickup_time" id="pickup_time" disabled></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="container2">
        <form class="myForm">
          <label for="pickup_time">Fecha de Finalizacion del Proyecto</label>
          <input type="datetime-local" name="pickup_time" id="pickup_time" required>

          <label for="comments">Comentarios del tutor del proyecto</label>
          <textarea name="comments" id="comments" maxlength="500" disabled ></textarea>
  
          <label for="email_address">Adjuntar Archivos </label>
          <input type="file" name="email_address" id="email_address" required>

          <label for="email_address">Adjuntar Archivos </label>
          <input type="file" name="email_address" id="email_address" required>

          <label for="email_address">Adjuntar Archivos </label>
          <input type="file" name="email_address" id="email_address" required>
  
          <label for="comments">Observaciones</label>
          <textarea name="comments" id="comments" maxlength="500" disabled></textarea>
        </form>
      </div>
    </div>
    <div class="button">
      <button class="btn btn-primary">Enviar Formulario</button>
    </div>
</form>
  </body>
</html>