<div class="row">

  <div class="card">
    <div class="card-body">
      <H2>Informe control
      </H2>





      <div class="container2 container-fuild">
        <br>

        <div class="container container-fuild">

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Proyecto </th>
                <th scope="col">Nombres del los estudiantes</th>
                <th scope="col">Empresa beneficiaria</th>
                <th scope="col">Descripcion general de la realizacion
                  del proyecto por parte del tutor</th>
                <th scope="col">Descripcion general de la realizacion del proyecto por parte del tutor de la entidad beneficiaria </th>
                <th scope="col">detallar segimuiento que ser dara al proyecto</th>
                <th scope="col">Detallar el proceos de evalucion del proyecto</th>
               




              </tr>
            </thead>
            <tbody class="leters">
              <tr class="text-center" *ngFor="let informe of informeC ">
                <th scope="row"> </th>
                <td>
                  {{informe.proyecto}}
                </td>
                <td>
                 {{informe.nombre}}
                </td>
                <td>
                {{informe.nombredelaentidad}}
                </td>


                 <td>
                  <textarea required    class="form-control" placeholder="Leave a comment here" id="" [(ngModel)]="informe.descripciontutor"   ></textarea>
                 </td>

                 <td>
                  <textarea required    class="form-control" placeholder="Leave a comment here" id=""  [(ngModel)]="informe.descripciontutoracademico"  ></textarea>
                 </td>
                 <td>
                  <textarea required    class="form-control" placeholder="Leave a comment here" id=""  [(ngModel)]="informe.seguimientoproyecto"  ></textarea>
                 </td>
                 <td>
                  <textarea
                   required    class="form-control" placeholder="Leave a comment here" id=""  [(ngModel)]="informe.procesoevaluacion"  ></textarea>
                 </td>








            </tbody>
          </table>



        </div>

      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">

        <a href="dashboard/informe-control">
          <button  class="btn btn-primary" type="button">Atras</button>
        </a>
        <a href="dashboard/avance-cumplimiento">

          <button  class="btn btn-primary" type="button" >Siguiente</button>
        </a>



      </div>
    </div>
  </div>
