<div class="page-wrapper">
  <div class="container-general container-fuild">

    <div class="container-form container-fuild">
      <form class="row g-3 px-2">
        <H5>Informe Control</H5>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Proyecto</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Carrera</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Semestre</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Apellido</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>
      </form>
      <form class="row g-3 px-2">
        <H5>Nombre de la entidad</H5>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Nombre de la Entidad</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Direccion</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>


        <H5>Datos a subir</H5>

        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Fotos</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="" id="">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="">Descripciones de tutores del proyecto</label>
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Comentarios</label>
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="">Descripcion  de la realizacion del proyecto por parte del  tutor academico</label>
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="">Detallar el seguimmneto que se dara al proyecto</label>
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="">Detallar el proceso de evaluacion del proyecto</label>
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Comments</label>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="mb-3 row">

            <div class="col-sm-6">

            </div>
          </div>
        </div>
      </form>
    </div>
    <br>

    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">


      <a href="dashboard/avance-cumplimiento">
        <button class="btn btn-primary" type="button">Siguiente</button>
      </a>
  </div>
    <br>
  </div>
</div>
