<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="formulario-informe-inicial.component.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unkempt" rel="stylesheet">
  </head>
  <body>
<form class="form">
    <div class="h5">
      <h5>FORMULARIO DE INFORME INICIAL</h5>
    </div>
    <div class="tabla2">
      <table>
        <thead>
          <tr>
            <th>De:</th>
            <th>Nombre del Proyecto</th>
            <th>Fecha de Inicio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nombre del docente tutor</td>
            <td>Vinculacion con la sociedad</td>
            <td>12-12-2022</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container2">
      <form class="myForm">
        <label for="pickup_time">Dirigido a:</label>
        <input type="text" name="pickup_time" id="pickup_time" required>

        <label for="pickup_time">Asunto</label>
        <input type="text" name="pickup_time" id="pickup_time" required>

        <label for="pickup_time">Fecha Actual</label>
        <input type="datetime-local" name="pickup_time" id="pickup_time" required>

        <label for="comments">Observaciones</label>
        <textarea name="comments" id="comments" maxlength="500" required></textarea>

        <label for="email_address">Adjuntar Archivos </label>
        <input type="file" name="email_address" id="email_address" required>

        <label for="email_address">Adjuntar Archivos </label>
        <input type="file" name="email_address" id="email_address" required>

        <label for="email_address">Adjuntar Archivos </label>
        <input type="file" name="email_address" id="email_address" required>

      </form>
      </div>
    <div class="button">
      <button class="btn btn-primary">Generar PDF</button>
    </div>
  </form>
  </body>
</html>
