<div class="justify-text">
  <h2>Lista Estudiante</h2>
</div>
<div class="col-auto  d-flex flex-row-reverse">
  <div class="d-flex flex-row-reverse">
    <div class="p-1 col-sm-7 col-md-10">
      <form class="d-flex" role="search">
        <input #inputSearchPersona class="form-control me-2" type="search" placeholder="Search"
          aria-label="Search" (input)="onInput(inputSearchPersona.value)">
        <button class=" btn btn-outline-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>
<div class=" table-responsive containerBlue col-auto col-12 px-1 pt-2 table-striped" style="height: 26em;">
  <div class="">
    <!--Table-->
    <table class="table col-12 px-1">

      <!--Table head-->
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cedula de Identidad</th>
          <th scope="col">Nombre del Estudiante</th>
          <th scope="col">Portafolio</th>
          <th scope="col">Estado del Portafolio</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody class="leters">
        <tr *ngFor="let portafolio of vistaFundacionEstudiante | paginate: { itemsPerPage: 3, currentPage: pages }">
          <th class="fw-normal" scope="row"> {{portafolio.idPersona}} </th>
          <td class="fw-normal"> {{portafolio.cedula}}</td>
          <td class="fw-normal">{{portafolio.nombrePersona}}</td>
          <td>
            <a href="" routerLink="/dashboard/portafolio-tutor/{{portafolio.idPersona}}">
              <img class="iconobser" src="../../../../assets/image/ojo-boton.png" alt="">
            </a>
          </td>
          <td>
            <div class="margin-leftform-check form-switch">
              <input class="switch form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [(ngModel)]="portafolio.estadoPortafolio" disabled>
            </div>
          </td>
        </tr>
        <!--Table body-->
    </table>
    <!--Table-->
  </div>
  <div class="pagi static">
    <pagination-controls (pageChange)="pages = $event"></pagination-controls>
  </div>
</div>
