
<div class="container" id="container">

	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Vinculacion</h1>
			<span>Crear Cuenta</span>
			<input type="email" placeholder="Usuario" />
			<input type="password" placeholder="Contraseña" />
			<button class = "btn btn-primary">Registrar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Hola, Yavirac</h1>
				<p>Inicia Sesión para Ingresar al sistema de vinculacion con la sociedad</p>
        <a class="ghost" href="login"><button class="ghost" id="signUp">Iniciar Sesion</button></a>
			</div>
		</div>
	</div>
</div>
