

      <div class="row">

          <div class="card">
            <div class="card-body">
              <H2>Avance cumplimiento de objetivos</H2>





              <div class="container2 container-fuild">
                <br>

                <div class="container container-fuild">

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Resumen narrativo de objetivos </th>
                        <th scope="col">Indicadores Verificables</th>
                        <th scope="col">Medios de verificacion</th>
                        <th scope="col">Avance y cumplimientos</th>

                      </tr>
                    </thead>
                    <tbody class="leters">
                      <tr class="text-center" *ngFor="let avance of avanceC">
                        <th scope="row">1</th>
                        <td>
                          {{avance.resumenN}}
                        </td>
                        <td>
                          {{avance.indicadoresF}}
                        </td>
                        <td>
                          {{avance. mediosF}}
                        </td>
                        <td>
                          <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Comments</label>
                          </div>
                        </td>


                      </tr>


                    </tbody>
                  </table>



                </div>

              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-primary" type="button">Siguiente</button>
              </div>
            </div>
          </div>
        </div>


  <!-- <app-footer></app-footer> -->

