<div class="alert alert-danger"  *ngIf="esvacio">

  <strong>Danger!</strong> Llenar al menos un campo

</div>


      <div class="row">

          <div class="card">
            <div class="card-body">
              <H2>Avance cumplimiento de objetivos</H2>





              <div class="container2 container-fuild">
                <br>

                <div class="container container-fuild">

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Resumen narrativo de objetivos </th>
                        <th scope="col">Indicadores Verificables</th>
                        <th scope="col">Medios de verificacion</th>
                        <th scope="col">Avance y cumplimientos</th>

                      </tr>
                    </thead>
                    <tbody class="leters">
                      <tr class="text-center" *ngFor="let avance of avanceC">
                        <th scope="row"> {{avance.id}}</th>
                        <td>
                          {{avance.resumenN}}
                        </td>
                        <td>
                          {{avance.indicadoresF}}
                        </td>
                        <td>
                          {{avance. mediosF}}
                        </td>


                         <td>
                          <textarea required    class="form-control" placeholder="Leave a comment here" id=""   [(ngModel)]="avance.avanceC"  ></textarea>
                         </td>




                      </tr>


                    </tbody>
                  </table>



                </div>

              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                <a href="dashboard/informe-control">
                  <button  class="btn btn-primary" type="button">Atras</button>
                </a>
                <a href="dashboard/observacion-avance">

                  <button  class="btn btn-primary" type="button"  (click)="save()">Siguiente</button>
                </a>



              </div>
            </div>
          </div>
        </div>


  <!-- <app-footer></app-footer> -->

