<div class="justify-text">
  <h2> Lista Estudiantes</h2>
</div>
<div class="col-auto  d-flex flex-row-reverse">
  
</div>
<div class=" table-responsive containerBlue col-auto col-12 px-1 pt-2 table-striped" style="height: 26em;">
  <div class="">
    <!--Table-->
    <table class="table col-12 px-1">

      <!--Table head-->
      <thead>
        <tr>
           <th scope="col">#</th>
          <th scope="col">Cedula de Identidad</th>
          <th scope="col">Nombre del Estudiante</th>
          <th scope="col">Fundacion</th>
          <th scope="col">Portafolio</th>
          <th scope="col">Estado Vinculacion</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody class="leters">
        <tr>
          <th class="text-dark" scope="row">1</th>
          <td class="text-dark"> 1207154145 </td>
          <td class="text-dark"> Geovanny Vera </td>
          <td class="text-dark"> Fundacion </td>

          <td>
            <a href="">
              <img class="iconobser" src="../../../../assets/image/ojo-boton.png" alt="">
            </a>
          </td>
          <td>
            <div class="margin-leftform-check form-switch">
              <input class="switch form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            </div>
          </td>
        </tr>
        <!--Table body-->
    </table>
    <!--Table-->
  </div>
  <div class="pagi static">
    <pagination-controls (pageChange)="pages = $event"></pagination-controls>
  </div>
</div>
