<div class="justify-text">
  <h2> Lista Estudiantes</h2>
</div>

<div class="col-auto  d-flex flex-row-reverse">

  <app-agregar-rol-search></app-agregar-rol-search>


</div>

      <div class=" table-responsive containerBlue col-auto col-12 px-1 pt-2 table-striped" style="height: 21em;">
        <div class="">
            <!--Table-->
            <table class="table col-12 px-1">

                <!--Table head-->
                <thead class="text-center">
                    <tr class="text-center">
                        <th class="text-dark" scope="col">#</th>
                        <th class="text-center text-dark" scope="col">Cedula de Identidad</th>
                        <th class="text-center text-dark" scope="col">Nombre del Estudiante</th>
                        <th class="text-center text-dark" scope="col">Fundacion</th>
                        <th class="text-center text-dark" scope="col">Portafolio</th>
                        <th class="text-center text-dark" scope="col">Estado Vinculacion</th>

                    </tr>
                </thead>
                <!--Table head-->

                <!--Table body-->
                <tbody>
                    <tr class="text-center"
                      *ngFor="let persona of listaEstudiantes | paginate: { itemsPerPage: 3, currentPage: pages }" >
                      <th class="text-dark" scope="row">{{persona.id}}</th>
                      <td class="text-dark"> {{persona.cedula}}</td>
                      <td class="text-dark"> {{persona.nombre}}</td>
                      <td class="text-dark"> {{persona.nombre}}</td>

                      <td>
                        <a href="dashboard/lista-portafolios">
                          <img class="iconobser" src="../../../../assets/image/ojo-boton.png" alt="">
                        </a>
                      </td>
                      <td>
                        <div class="margin-leftform-check form-switch">
                          <input class="switch form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                      </td>



                    </tr>
                </tbody>
                <!--Table body-->
            </table>
            <div class="pagi static">
              <pagination-controls (pageChange)="pages = $event"></pagination-controls>
            </div>
        </div>



