 /* .container{
    background-color: #19418B;
    height: 500px;
  } */
 .container1{
	position: fixed;
 }
 .container2{
	width:500px;
	padding: 10px;
	border-radius: 50p;
	
 }

 /*formulario informe final*/

 .myForm > * {
  font: 1.4em; 
 }
 .myForm {
   display: grid;
   grid-template-columns: [labels] auto [controls] 1fr;
   grid-auto-flow: row;
   grid-gap: .8em .5em;
   background: #19418B;
   padding: 1.2em;
   width: 40em;
   color: #fff;
 }
 .myForm > label,
 .myForm > fieldset  {
   grid-column: labels;
   grid-row: auto;
   font-size: medium;
 }
 .myForm > input, 
 .myForm > select,
 .myForm > textarea,
 .myForm > button {
   grid-column: controls;
   grid-row: auto;
   padding: .2em;
   border: 50;
 }
 .myForm > fieldset {
   grid-column: span 2;
 }  
 .myForm > button {
   background: #023f0c;
   color: white;
   left: 50px;
   }
 .myForm > textarea {
   min-height: 3em;
   }
 .h5{
  padding:1px;
  /* position: fixed; */
  left: 500px;
  background-color: dimgrey;
  margin: auto;
  width: 32em;
 }