<div class="page-wrapper">
  <div class="container-general container-fuild">
    <br>
    <div class="container-form container-fuild">
      <form class="row g-3 px-2">
        <H5>RELLENAR DATOS DEL ESTUDIANTE/TUTOR</H5>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Cedula de Identidad</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="cedula" id="" placeholder="000000" [(ngModel)]="currentEntity.cedula" >
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Nombre</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="nombre" id="" placeholder="nombre" [(ngModel)]="currentEntity.nombre">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Telefono</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="telefono" id="" placeholder="11111" [(ngModel)]="currentEntity.telefono">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Rol</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="estudiante" id="" placeholder="rol" >
            </div>
          </div>
        </div>
<br>
        <div class="col-md-6">
          <div class="mb-3 row">
            <label for="" class="col-sm-3 col-form-label">Direccion</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" name="direccion" id="" placeholder="direccion" [(ngModel)]="currentEntity.direccion">
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-grid gap-1 col-md-2">
        <br>
        <button class="btn btn-primary" type="button" (click)="save()">
          <img src="../../../../assets/image/ojo-boton.png" style=" height: 20px; " alt=" " >
          <p>GUARDAR</p>
        </button>
      </div>
    </div>


