<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>

<div class="card-body">

  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " type="submit">Generar ITV
  </button>&nbsp;&nbsp;
  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " type="submit">Generar PDF
  </button>&nbsp;&nbsp;&nbsp;
  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " type="submit">Generar Convenio
  </button>&nbsp;&nbsp;&nbsp;
  <br><br>
  <div class="pestanas">
    <a [routerLink]="['/dashboard/datos-generales',currentEntity.dgId]" class="Datos Generales">Datos Generales</a>
    <a [routerLink]="['/dashboard/empresa',currentEntity.dgId]" class="Empresa">Empresa</a>
    <a [routerLink]="['/dashboard/integrantes',currentEntity.dgId]" class="Integrantes">Integrantes</a>
    <a [routerLink]="['/dashboard/actividades',currentEntity.dgId]" class="Actividades">Actividades</a>
    <a [routerLink]="['/dashboard/plan-de-trabajo',currentEntity.dgId]" class="Plan de Trabajo">Plan de Trabajo</a>
    <a [routerLink]="['/dashboard/firmas',currentEntity.dgId]" class="Firma">Firmas</a>
    <a [routerLink]="['/dashboard/bibliografia',currentEntity.dgId]" class="Bibliografía">Bibliografía</a>
    <a [routerLink]="['/dashboard/anexos',currentEntity.dgId]" class="Anexos">Anexos</a>
    <a [routerLink]="['/dashboard/observaciones',currentEntity.dgId]" class="Observaciones">Observaciones</a>
    <a [routerLink]="['/dashboard/documentos',currentEntity.dgId]" class="Adjuntar Documentos">Adjuntar Documentos</a>
    <a [routerLink]="['/dashboard/certificados',currentEntity.dgId]" class="Solicitud de Certificados">Solicitud de Certificados</a>
  </div>

  <form name="registro" [formGroup]="datosGeneralesForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <section class="input-field col s12 m6">
        <label for="">Codigo de Proyecto:</label><br><br>
        <input type="text" formControlName="codigoProyecto" name="codigo" [(ngModel)]="currentEntity.codigo">
        <div *ngIf="codigoProyecto?.invalid && (codigoProyecto?.dirty || codigoProyecto?.touched)"
          class="alert alert-danger ">
          <div *ngIf="codigoProyecto?.errors?.['required']">Ingrese el código de proyecto.</div>
          <div *ngIf="codigoProyecto?.errors?.['pattern']">Ingrese un valor alfanumérico, ejemplo: QZ09.</div>
        </div>
      </section>
      <section class="input-field col s12 m6">
        <label for="">Nombre del Proyecto:</label><br><br>
        <input type="text" formControlName="nombreProyecto" name="nombrep" [(ngModel)]="currentEntity.nombrep">
        <div *ngIf="nombreProyecto?.invalid && (nombreProyecto?.dirty || nombreProyecto?.touched)"
          class="alert alert-danger ">
          <div *ngIf="nombreProyecto?.errors">
            Nombre de proyecto inválido.
          </div>
        </div>
      </section>
      <div class="row">
        <section class="input-field col s12 m9">
          <label for="">Nombre del Instituto: </label><br><br>
          <input type="email" formControlName="nombreInstituto" name="nombrei" [(ngModel)]="currentEntity.nombrei">
          <div *ngIf="nombreInstituto?.invalid && (nombreInstituto?.dirty || nombreInstituto?.touched)"
            class="alert alert-danger ">
            <div *ngIf="nombreInstituto?.errors">
              Campo requerido
            </div>
          </div>
        </section>
        <section class="input-field col s12 m3">
          <label for="">Ciclo:</label><br><br>
          <input type="text" formControlName="ciclo" name="ciclo" [(ngModel)]="currentEntity.ciclo">
          <div *ngIf="ciclo?.invalid && (ciclo?.dirty || ciclo?.touched)" class="alert alert-danger ">
            <div *ngIf="ciclo?.errors">
              Ciclo es un campo requerido
            </div>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="input-field col s12">
          <label for="">Cobertura y Localización:</label><br><br>
          <input type="text" class="materialize-textarea" formControlName="coberturaLocalizacion" name="cobertura" [(ngModel)]="currentEntity.cobertura">
          <div
            *ngIf="coberturaLocalizacion?.invalid && (coberturaLocalizacion?.dirty || coberturaLocalizacion?.touched)"
            class="alert alert-danger ">
            <div *ngIf="coberturaLocalizacion?.errors">
              Cobertura y Localización inválido.
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row">
      <section class="input-field col s12 m3">
        <label for="">Carrera:</label><br><br>
        <select  class="browser-default" formControlName="carreraId" name="carrera">
        <option value="" disabled="" selected="">Seleccione una Carrera</option>
        <option *ngFor="let carrera of carrerasMapping" [value]="carrera.id">{{carrera.carrera}}</option>
        </select>
        <div *ngIf="carrera?.invalid && (carrera?.dirty || carrera?.touched)" class="alert alert-danger ">
          <div *ngIf="carrera?.errors">
            Campo requerido.
          </div>
        </div>
      </section>
      <section class="input-field col s12 m3">
        <label for="Modalidad">Modalidad:</label><br><br>
        <form formGroupName="modalidad">
          <input class="with-gap" type="radio" formControlName="modalidadRadio" name="modalidadRadio" id="presencial"
            value="1">
          <label for="presencial">Presencial</label> &nbsp;&nbsp;
          <input class="with-gap" type="radio" formControlName="modalidadRadio" name="modalidadRadio" id="dual" value="2">
          <label for="dual">Dual</label>
        </form>
      </section>
      <div class="row">
        <section class="input-field col s12 m9">
          <label for="">Financiamiento:</label><br><br>
          <input type="text" formControlName="financiamiento" name="financiamiento" [(ngModel)]="currentEntity.financiamiento">
        </section>

        <section class="input-field col s12 m3">
          <label for="">Plazo de Ejecución:</label><br><br>
          <input type="text" formControlName="plazoEjecucion" name="plazo" [(ngModel)]="currentEntity.plazo">
        </section>
      </div>
      <div class="row">
        <section class="input-field col s12 m9">
          <label for="">Fecha:</label><br><br>
          <input type="date" formControlName="fecha" name="fecha" [(ngModel)]="currentEntity.fecha">
          <div *ngIf="fecha?.invalid && (fecha?.dirty || fecha?.touched)" class="alert alert-danger ">
            <div *ngIf="fecha?.errors?.['required']">
              Ingrese una fecha.
            </div>
            <div *ngIf="fecha?.errors?.['customDateValidation']">
              Ingrese un año menor a 3000.
            </div>
          </div>
        </section>
        <section class="input-field col s12 m3">
          <label for="">Plazo de Vigencia del Convenio:</label><br><br>
          <input type="date" formControlName="plazoVigenciaConvenio" name="vigencia" [(ngModel)]="currentEntity.vigencia">
          <div
            *ngIf="plazoVigenciaConvenio?.invalid && (plazoVigenciaConvenio?.dirty || plazoVigenciaConvenio?.touched)"
            class="alert alert-danger ">
            <div *ngIf="plazoVigenciaConvenio?.errors?.['required']">
              Ingrese una fecha.
            </div>
            <div *ngIf="plazoVigenciaConvenio?.errors?.['customDateValidation']">
              Ingrese un año menor a 3000.
            </div>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="input-field col s12">
          <label for="">Fecha de Presentación:</label><br><br>
          <input type="date" class="materialize-textarea" formControlName="fechaPresentacion" name="fechaPresentacion" [(ngModel)]="currentEntity.fechaPresentacion">
          <div *ngIf="fechaPresentacion?.invalid && (fechaPresentacion?.dirty || fechaPresentacion?.touched)"
            class="alert alert-danger ">
            <div *ngIf="fechaPresentacion?.errors?.['required']">
              Ingrese una fecha.
            </div>
            <div *ngIf="fechaPresentacion?.errors?.['customDateValidation']">
              Ingrese un año menor a 3000.
            </div>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="input-field col s12">
          <label for="">Fecha de Inicio:</label><br><br>
          <input type="date" class="materialize-textarea" formControlName="fechaInicio" name="fechaInicio" [(ngModel)]="currentEntity.fechaInicio">
          <div *ngIf="fechaInicio?.invalid && (fechaInicio?.dirty || fechaInicio?.touched)" class="alert alert-danger ">
            <div *ngIf="fechaInicio?.errors?.['required']">
              Ingrese una fecha.
            </div>
            <div *ngIf="fechaInicio?.errors?.['customDateValidation']">
              Ingrese un año menor a 3000.
            </div>
          </div>
        </section>
      </div>
      <div class="row">
        <section class="input-field col s12">
          <label for="">Fecha Final:</label><br><br>
          <input type="date" class="materialize-textarea" formControlName="fechaFinal" name="fechaFinal" [(ngModel)]="currentEntity.fechaFinal">
          <div *ngIf="fechaFinal?.invalid && (fechaFinal?.dirty || fechaFinal?.touched)" class="alert alert-danger ">
            <div *ngIf="fechaFinal?.errors?.['required']">
              Ingrese una fecha.
            </div>
            <div *ngIf="fechaFinal?.errors?.['customDateValidation']">
              Ingrese un año menor a 3000.
            </div>
          </div>
        </section>
      </div>
      <button class="btn waves-effect waves-light right" type="submit" [disabled]="!datosGeneralesForm.valid">
        Confirmar
          <img class="small pull-right" src="../../../../assets/image/visto.png" alt="">
      </button>
    </div>
  </form>
</div>
