<script src="angular.min.js"></script>
<script src="angular-messages.min.js"></script>
<script src="materialize/js/jquery-latest.js"></script>
<script src="materialize/js/materialize.min.js"></script>
<script>
  angular.module('messages', ['ngMessages']);
</script>

<div class="card-body">
  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " type="submit">Generar PDF
    <img class="pullsito" src="../../../../assets/image/pdf.png" alt="">
</button>&nbsp;&nbsp;&nbsp;

<button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " type="submit">Generar Convenio
    <img class="pullsito" src="../../../../assets/image/convenio.png" alt="">
</button>&nbsp;&nbsp;&nbsp;

<button ng-disabled="registro.$invalid" class="btn waves-effect waves-light " type="submit">Generar ITV
</button>
<br><br>
                  <div class="pestanas">
                    <a [routerLink]="['/dashboard/datos-generales',currentEntity.firmasId]" class="Datos Generales">Datos Generales</a>
                    <a [routerLink]="['/dashboard/empresa',currentEntity.firmasId]" class="Empresa">Empresa</a>
                    <a [routerLink]="['/dashboard/integrantes',currentEntity.firmasId]" class="Integrantes">Integrantes</a>
                    <a [routerLink]="['/dashboard/actividades',currentEntity.firmasId]" class="Actividades">Actividades</a>
                    <a [routerLink]="['/dashboard/plan-de-trabajo',currentEntity.firmasId]" class="Plan de Trabajo">Plan de Trabajo</a>
                    <a [routerLink]="['/dashboard/firmas',currentEntity.firmasId]" class="Firma">Firmas</a>
                    <a [routerLink]="['/dashboard/bibliografia',currentEntity.firmasId]" class="Bibliografía">Bibliografía</a>
                    <a [routerLink]="['/dashboard/anexos',currentEntity.firmasId]" class="Anexos">Anexos</a>
                    <a [routerLink]="['/dashboard/observaciones',currentEntity.firmasId]" class="Observaciones">Observaciones</a>
                    <a [routerLink]="['/dashboard/documentos',currentEntity.firmasId]" class="Adjuntar Documentos">Adjuntar Documentos</a>
                    <a [routerLink]="['/dashboard/certificados',currentEntity.firmasId]" class="Solicitud de Certificados">Solicitud de Certificados</a>

                </div>

<form name="registro" novalidate>
  <div class="row">
      <section class="input-field row s12 m6">
          <label for="nombre" class="azul fblack">Num&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Cargo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Nombre y Titulo Profesional&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Cedula
          </label></section>
          <section class="input-field col s12 m2 sizze">
          <input type="text" [(ngModel)]="currentEntity.numero" name="numero" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
          <section class="input-field col s12 m2 sizze3">
          <input type="text" [(ngModel)]="currentEntity.cargo" name="cargo" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
          <section class="input-field col s12 m2 sizze6">
          <input type="text" [(ngModel)]="currentEntity.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
          </section>
          <section class="input-field col s12 m2 sizze6">
            <input type="text" [(ngModel)]="currentEntity.cedula" name="cedula" required pattern="[ñáéíóúA-Za-z ]+">
            </section>
  </div>

        <div class="row">
              <section class="input-field col s12 m2 sizze">
              <input type="text" [(ngModel)]="currentEntity.numero" name="numero" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze3">
              <input type="text" [(ngModel)]="currentEntity.cargo" name="cargo" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
              <input type="text" [(ngModel)]="currentEntity.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
                <input type="text" [(ngModel)]="currentEntity.cedula" name="cedula" required pattern="[ñáéíóúA-Za-z ]+">
                </section>
        </div>


            <div class="row">
              <section class="input-field col s12 m2 sizze">
              <input type="text" [(ngModel)]="currentEntity.numero" name="numero" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze3">
              <input type="text" [(ngModel)]="currentEntity.cargo" name="cargo" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
              <input type="text" [(ngModel)]="currentEntity.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
                <input type="text" [(ngModel)]="currentEntity.cedula" name="cedula" required pattern="[ñáéíóúA-Za-z ]+">
                </section>
            </div>

            <div class="row">
              <section class="input-field col s12 m2 sizze">
              <input type="text" [(ngModel)]="currentEntity.numero" name="numero" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze3">
              <input type="text" [(ngModel)]="currentEntity.cargo" name="cargo" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
              <input type="text" [(ngModel)]="currentEntity.nombre" name="nombre" required pattern="[ñáéíóúA-Za-z ]+">
              </section>
              <section class="input-field col s12 m2 sizze6">
                <input type="text" [(ngModel)]="currentEntity.cedula" name="cedula" required pattern="[ñáéíóúA-Za-z ]+">
                </section>
            </div>

  <button ng-disabled="registro.$invalid" class="btn waves-effect waves-light right" type="submit"  (click)="save()">Confirmar

      <img class="small pull-right" src="../../../../assets/image/visto.png" alt="">

  </button>
</form>
</div>
