<div id="main-wrapper">
  <app-header></app-header>

  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="bread col-12">
          <div class="card">
            <div class="card-body">
              <app-breadcrumbs></app-breadcrumbs>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cuadro col-9">
          <div class="card">
            <div class="card-body">
              <H2>Lista Fundaciones</H2>
              <select class="periodo" name="" id="">
                <option value="">Periodo Lectivo</option>
                <option value="">2023-1</option>
                <option value="">2022-1</option>
                <option value="">2022-2</option>
              </select>

              <img class="iconbuscar" src="../../../../assets/image/buscar.png" alt="">

              <input class="buscar" type="search" placeholder="Buscar Fundación">

              <div class="container">
                <br>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre de la Fundación</th>
                      <th scope="col">Estado de la Fundación</th>
                      <th scope="col">Estudiantes Asignados</th>
                      <th scope="col">Observar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Fundacion 1</td>
                      <td>
                        <div class="margin-leftform-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                      </td>
                      <td>14</td>
                      <td>
                        <a href="">
                          <img class="observar"
                          src="../../../../assets/image/ojo-boton.png"
                          alt="">
                        </a>
                      </td>

                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Fundacion 1</td>
                      <td>
                        <div class="margin-leftform-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                      </td>
                      <td>14</td>
                      <td>
                        <a href="">
                          <img class="observar"
                          src="../../../../assets/image/ojo-boton.png"
                          alt="">
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">2</th>
                      <td>Fundacion 1</td>
                      <td>
                        <div class="margin-leftform-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                      </td>
                      <td>14</td>
                      <td>
                        <a href="">
                          <img class="observar"
                          src="../../../../assets/image/ojo-boton.png"
                          alt="">
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">2</th>
                      <td>Fundacion 1</td>
                      <td>
                        <div class="margin-leftform-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                      </td>
                      <td>14</td>
                      <td>
                        <a href="">
                          <img class="observar"
                          src="../../../../assets/image/ojo-boton.png"
                          alt="">
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <th scope="row">2</th>
                      <td>Fundacion 1</td>
                      <td>
                        <div class="margin-leftform-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                      </td>
                      <td>14</td>
                      <td>
                        <a href="">
                          <img class="observar"
                          src="../../../../assets/image/ojo-boton.png"
                          alt="">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <nav aria-label="page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only"></span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only"></span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
</div>
