<div id="main-wrapper">
    <!-- <app-header></app-header> -->
    <!-- <app-sidebar></app-sidebar> -->
    <br>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-9" style="margin-left: 18rem; margin-block-start: -17rem;">
                    <div class="card">
                        <div class="card-body">
                            <!-- <app-breadcrumbs></app-breadcrumbs> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-9" style="margin-left: 18rem; margin-block-start: -12rem;">
                    <div class="card">
                        <div class="card-body">

                            <H2>Solicitud</H2>

                            <br>
                            <div class="color">
                                <div class="input_search"
                                    style="margin-left: 675px;background-color: #6D99EB;height: 40px;width: 189px;border-radius: 10px;">
                                    <input type="search" placeholder="Buscar"
                                        style="border-radius: 10px;margin-top: 5px;border-color: #6D99EB;">
                                    <select name="" id=""
                                        style="background-color:#6D99EB;margin-left: -260px;height: 40px;width: 70px;border-radius: 10px;">
                                        <p>HOLA</p>
                                        <option value="">Tipo</option>
                                        <option value="">Tipo</option>
                                        <option value="">Tipo</option>
                                    </select>
                                </div>
                            </div>


                            <div class="container">
                              <br>

                                <table class="table table-hover" style="background-color: #6D99EB;border-radius: 10px;">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Tipo de Solicitud</th>
                                            <th scope="col">Nombre del Estudiante</th>
                                            <th scope="col">Cedula del Estudiante</th>
                                            <th scope="col">Fecha de Emision</th>
                                            <th scope="col">Estado</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>@twitter</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-footer></app-footer> -->
</div>