<div class="grid" id="main-wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <br>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="bread col-12">
          <div class="col-9" style="margin-left: 18rem; margin-block-start: -17rem;">
            <div class="card">
              <div class="card-body">
                <app-breadcrumbs></app-breadcrumbs>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="cuadro col-9" style="margin-left: 18rem; margin-block-start: -12rem;">
          <div class="card">
            <div class="card-body">
              <H5>Fundación</H5>
              <H2>Lista Estudiante</H2>
              <select class="periodo" name="" id="">
                <option value="">Periodo Lectivo</option>
                <option value="">2023-1</option>
                <option value="">2022-1</option>
                <option value="">2022-2</option>
              </select>

              <img class="iconbuscar" src="../../../../assets/image/buscar.png" alt="">

              <input class="buscar" type="search" placeholder="      Buscar Estudiante">
              <div class="container2 container-fuild">
                <br>
                <div class="container container-fuild">

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cedula de Identidad</th>
                        <th scope="col">Nombre del Estudiante</th>
                        <th scope="col">Proyecto</th>
                        <th scope="col">Portafolio</th>
                        <th scope="col">Estado del Portafolio</th>
                      </tr>
                    </thead>
                    <tbody class="leters">
                      <tr>
                        <th scope="row">1</th>
                        <td>
                          1207154145
                        </td>
                        <td>
                          Geovanny Vera
                        </td>
                        <td>
                          <a href="">
                            <img class="observar" src="../../../../assets/image/ojo-boton.png" alt="">
                          </a>
                        </td>
                        <td>
                          <a href="">
                            <img class="observar" src="../../../../assets/image/ojo-boton.png" alt="">
                          </a>
                        </td>
                        <td>
                          <div class="margin-leftform-check form-switch">
                            <input class="switch form-check-input" type="checkbox" role="switch"
                              id="flexSwitchCheckChecked" checked>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <nav aria-label="page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only"></span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only"></span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
</div>
